
  $(document).ready(function() {
    var client = algoliasearch("<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>", "<%= ENV['ALGOLIASEARCH_API_KEY'] %>");
    var template = Hogan.compile('<div class="row item-container"><a href="{{{page_url}}}"><div class="col-md-12"><h3>{{{_highlightResult.name.value}}}</h3><p>{{{_highlightResult.description.value}}}</p></div></a></div>');
    $('input.search-field').typeahead(null, {
      source: client.initIndex('Newsletter_<%= Rails.env %>').ttAdapter(),
      displayKey: 'name',
      templates: {
        suggestion: function(hit) {
          return template.render(hit);
        }
      }
    });
  });

