- item = item ? item : local[:item]
%div.item-container
  = link_to item do
    = image_tag attachment_url(item, :featured_image, :fill, 300, 300, format: "jpg")
  %h3.item-title
    = link_to item[:name], item
