- item = item ? item : local[:item]
- @emails = Email.get_recent(item.id, 5)
%h3
  = link_to item[:name], item
  - @emails.each do |email|
    - subject = email.subject ? email.subject : ''
    %p
      = link_to subject + ', ' + time_ago_in_words(email.created_at), email
