- item = item ? item : local[:item]
.item-container.col-md-12
  .row
    - if !item.featured_image.nil?
      .col-md-2.image-container
        = link_to item do
          = image_tag attachment_url(item, :featured_image, :fill, 300, 300, format: "jpg")
      .col-md-10
        = render 'newsletters/element_content', :local => { :item => item, :has_tags => false }
    - else
      = render 'newsletters/element_content', :local => { :item => item, :has_tags => false }
    =# render 'widgets/vote'
