- item = item ? item : local[:item]
- @emails = Email.where(newsletter_id: item.id).where.not(admin_email: true).reverse.limit(5)
%h3
  = link_to item[:name], item
  - @emails.each do |email|
    %p
      = email.subject + ', ' + time_ago_in_words(email.created_at)
