%h2
  What's this all about?

%p
  The <b>Email Newsletter Stand</b> is the place to get your news on email newsletters.
%p
  We generate unique email addresses and sign up to all the hot and not-so-hot newsletters to keep track of how they are doing. Our goal is to have a running list of the best newsletters, based on quality, relevance, topic, and frequency.

%h2
  Who is behind this?

%p
  This project is a labor of love from #{link_to 'Jihii Jolly', 'http://twitter.com/jihiitea'} and #{link_to 'Lenny Bogdonoff', 'http://twitter.com/rememberlenny'}.
