%h1
  Compliments, complaints or questions?

%p
  If you have questions, reach out to Lenny directly at #{link_to '@rememberlenny', 'http://twitter.com/rememberlenny'} or email rememberlenny at gmail.
