%div.row
  - render_curated_row('home').each do |item|
    = render 'newsletters/element', :item => item

%div.row
  %h2
    Most Recent
    %ul.block-grid-md-4.block-grid-lg-5.block-grid-sm-2
      - render_recent_newsletters(8).each do |newsletter|
        %li
          = render 'newsletters/element', :local => { :item => newsletter, :has_tags => false }

