%div.row
  %ul.block-grid-md-4.block-grid-lg-3.block-grid-sm-2
    - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
      %span{class: css_class}
        = tag.name


%div.row
  %h2
    Most Recent
    %ul.block-grid-sm-1
      - render_recent_newsletters(8).each do |newsletter|
        %li
          = render 'newsletters/element', :local => { :item => newsletter, :has_tags => false }

