%h1
  Featured

- render_curated_row('home').each do |item|
  %div
    %p
      = link_to item do
        = image_tag attachment_url(item, :featured_image, :fill, 300, 300, format: "jpg")
      = raw item.tag_list.map { |t| link_to t, tag_path(t), class: 'tag label label-info' }.join(' ')
    %h3
      = link_to item[:name], item
