%div.row
  %h2
    Most Recent
    %ul.block-grid-sm-1
      - render_recent_newsletters(8).each do |newsletter|
        %li
          = render 'newsletters/element', :local => { :item => newsletter, :has_tags => false }

