.nested-fields
  = f.hidden_field :curation_id, :value => @curation.id
  = f.collection_select :newsletter_id, Newsletter.order(:name),:id,:name, include_blank: true
  = link_to_remove_association "remove curation post", f
