.site-wrapper{
  margin-top: 2em;
}

.col-centered{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.tag-wrapper{
  background: #415b76;
  h2{
    color: white;
  }
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.main-footer{
  padding-bottom: 2em;
}

.panel form{
  background: #eee;
  padding: 10px 10px 20px !important;
  border-radius: 15px;
  border: 2px solid #ccc;
}
