%form{:action => "https://tinyletter.com/emailnewsletterstand", :method => "post", :onsubmit => "window.open('https://tinyletter.com/emailnewsletterstand', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true", :style => "padding:3px;text-align:left;", :target => "popupwindow"}
  %h4
    = link_to 'https://tinyletter.com/emailnewsletterstand' do
      We have a newsletter too
  %p
    %input#tlemail{:name => "email", :type => "text", :class => 'form-control', :placeholder => 'Your email'}/
  %input{:name => "embed", :type => "hidden", :value => "1"}/
  %input{:type => "submit", :value => "Stay in the know", :class => 'btn btn-primary'}/
