.search-large

  %h1.lead
    Curating and monitoring the best content arriving in your inbox
  %input.search-field.typeahead{:placeholder => "Search for email newsletters", :spellcheck => "false", :type => "text"}/
%hr
